
@{
    ViewData["Title"] = "AlumnoInscito";
    Layout = "~/Views/Shared/_AlumnoLayout.cshtml";
}

<h1>Bienvenido {Alumno}!</h1>
<h2>Estas inscrito en {Deporte}</h2>
<p>
    Para poder ingresar necesiratas tener tu credencial, 
    la cual podrás adquirir en el siguiente <a href="#">enlace</a>    
</p>

