@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Deportivo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          @switch (ViewData["Rol"])
          {
              case"Alumno":
                  <a class="navbar-brand" asp-action="Alumno" asp-controller="Inicio">Sistema Deportivo</a> 
                  break;
              case"AlumnoInscrito":
                  <a class="navbar-brand" asp-action="AlumnoInscrito" asp-controller="Inicio">Sistema Deportivo</a>
                  break;
              case"Profesor":
                  <a class="navbar-brand" asp-action="Profesor" asp-controller="Inicio">Sistema Deportivo</a>
                  break;
              case"Administrador":
                  <a class="navbar-brand" asp-action="Administrador" asp-controller="Inicio">Sistema Deportivo</a>
                  break;
          }                
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">  
                @if (ViewData["Rol"].ToString() == "Alumno" ||
                ViewData["Rol"].ToString() == "AlumnoInscrito")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ConfigAlumno">Configuracion</a>
                    </li>         
                }
                @if (ViewData["Rol"].ToString() == "Administrador")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Alumno" asp-controller="Administrador">Alumno</a>
                    </li>         
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Profesor" asp-controller="Administrador">Profesor</a>
                    </li>         

                }
              <li class="nav-item">
                <a class="nav-link" asp-action="CerrarSesion" asp-controller="Home">Cerrar Sesion</a>
              </li>         
            </ul>
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SistemaDeportivo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
