@using SistemaDeportivo.Clases

@model ProfesorCLS
@{
    ViewData["Title"] = "AgregarProfesor";
    ViewData["Rol"] = new General().Rol;
}

<h1>Agregar Profesor</h1>
<br />
@if (ViewBag.Bool == 1)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Genial!</strong> La informacion fue actualizada con éxito, da click <a asp-controller="Administrador" asp-action="Profesor">aquí</a> para regresar.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}else if (ViewBag.Bool == 2)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ocurrio un error!</strong> Por favor intentelo más tarde.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>    
}
<form asp-action="AgregarProfesor" asp-controller="Administrador" method="post" class="row">
    <div class="form-group ">        
        <input type="hidden" asp-for="IdProfesor" value="EasterEgg" value="1" class="form-control" />                       
    </div>         

    <div class="form-group col-4">        
        <label asp-for="Usuario" class="col-form-label-lg"></label>
        <input asp-for="Usuario" class="form-control"/>
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>                             
    <div class="form-group col-4">                
        <label asp-for="Contraseña" class="col-form-label-lg"></label>
        <input asp-for="Contraseña" class="form-control" />                        
        <span asp-validation-for="Contraseña" class="text-danger"></span>
    </div>         
    <div class="form-group col-4">                        
        <label asp-for="ConfirmarContraseña" class="col-form-label-lg"></label>
        <input asp-for="ConfirmarContraseña" class="form-control" />
        <span asp-validation-for="ConfirmarContraseña" class="text-danger"></span>
    </div>         
    <div class="form-group col-6">
        <label asp-for="Nombre" class="col-form-label-lg"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>                             
    <div class="form-group col-6">
        <label asp-for="NombreDeporte" class="col-form-label-lg"></label>
        <input asp-for="NombreDeporte" class="form-control"/>
        <span asp-validation-for="NombreDeporte" class="text-danger"></span>
    </div>                             
    <div class="form-group col-4">
        <label asp-for="Lunes" class="col-form-label-lg"></label>
        <input asp-for="Lunes" class="form-control" />
        <span asp-validation-for="Lunes" class="text-danger"></span>
    </div>                             
    <div class="form-group col-4">
        <label asp-for="Marte" class="col-form-label-lg"></label>
        <input asp-for="Marte" class="form-control" />
        <span asp-validation-for="Marte" class="text-danger"></span>
    </div>                             
    <div class="form-group col-4">
        <label asp-for="Miercoles" class="col-form-label-lg"></label>
        <input asp-for="Miercoles" class="form-control" />
        <span asp-validation-for="Miercoles" class="text-danger"></span>
    </div>                             
    <div class="form-group col-6">
        <label asp-for="Jueves" class="col-form-label-lg"></label>
        <input asp-for="Jueves" class="form-control" />
        <span asp-validation-for="Jueves" class="text-danger"></span>
    </div>                             
    <div class="form-group col-6">
        <label asp-for="Viernes" class="col-form-label-lg"></label>
        <input asp-for="Viernes" class="form-control" />
        <span asp-validation-for="Viernes" class="text-danger"></span>
    </div> 
    <div class="form-group col-12">
        <label asp-for="Cupo" class="col-form-label-lg"></label>
        <input asp-for="Cupo" class="form-control" />
        <span asp-validation-for="Cupo" class="text-danger"></span>
    </div>                             
    <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary p-3">
            Agregar Profesor
        </button>
    </div>
</form>

