@model Usuarios
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<style>
    .minh-100 {
        height: 100vh;
    }
</style>
    <body>
    <main>
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem">
                <div class="card-body p-5">
                  <div class="text-center">
                    <img
                      src="~/img/piscina.png"
                      alt="Imagen Principal"
                      class="mb-4"
                      width="125px"
                      height="auto"
                    />
                  </div>
                 @if(@ViewBag.Bool){
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Hubo un problema!</strong> Intentalo más tarde.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                   }
                  <form
                    asp-action="Login"
                    asp-controller="Home"                                        
                    method="post"                                        
                  >
                    <div class="mb-4">
                      <label             
                        asp-for="Usuario"
                        class="col-form-label col-form-label-lg"></label>
                      <input type="text" asp-for="Usuario" class="form-control form-control-lg" placeholder="Coloca tú usuario aquí"/>
                      <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                      <label                        
                        asp-for="Contraseña"
                        class="col-form-label col-form-label-lg"
                        ></label>
                      <input type="password" asp-for="Contraseña" class="form-control form-control-lg" placeholder="Coloca tú contraseña aquí"/>
                      <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                      <a asp-action="Registro" asp-controller="Home">Click Aquí para registrarse</a>
                      <button
                        class="btn-primary btn "
                        type="submit"                         
                      >
                        Iniciar Sesión
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>    
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>
