@using SistemaDeportivo.Clases
@model AlumnoCLS
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
  <body>
    <main>
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12">
              <div class="card shadow-2-strong" style="border-radius: 1rem">
                <div class="card-body p-3">
                  <div class="text-center">
                  </div>
                 @if(@ViewBag.Bool){
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@ViewBag.Mensaje</strong> Da click <a asp-action="Login" asp-controller="Home">aquí</a> para iniciar sesion
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                   }                  
                  <form
                    asp-action="Registro"
                    asp-controller="Home"                                        
                    method="post"    
                    class="row"
                    id="frmRegistro"
                  >
                  @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="Usuario"
                        class="col-form-label col-form-label-lg"></label>
                      <input                        
                        asp-for="Usuario"
                        class="form-control form-control-lg"
                        placeholder="Coloca tú usuario aquí"/>
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="Contraseña"                        
                        class="col-form-label col-form-label-lg"></label>
                      <input                        
                        asp-for="Contraseña"                        
                        placeholder="Coloca tú contraseña aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="Contraseña" class="text-danger"></span>
                      <span asp-validation-for="ContraseñaConfirmar" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="ContraseñaConfirmar"
                        class="col-form-label col-form-label-lg"></label>
                      <input
                        asp-for="ContraseñaConfirmar"
                        placeholder="Repite tú contraseña aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="ContraseñaConfirmar" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="Nombre"
                        class="col-form-label col-form-label-lg"></label>
                      <input                                                
                        asp-for="Nombre"
                        placeholder="Coloca tú Nombre aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="ApellidoPat"
                        class="col-form-label col-form-label-lg"
                        >Apellido Paterno:</label>
                      <input
                        asp-for="ApellidoPat"
                        placeholder="Coloca tú Apellido Paterno aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="ApellidoPat" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="ApellidoMat"
                        class="col-form-label col-form-label-lg"></label>
                      <input
                        asp-for="ApellidoMat"
                        placeholder="Coloca tú Apellido Materno aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="ApellidoMat" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="Edad"
                        class="col-form-label col-form-label-lg"
                        >Edad:</label>
                      <input
                        asp-for="Edad"
                        placeholder="Coloca tú Edad aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="Edad" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="Sexo"
                        class="col-form-label col-form-label-lg"></label>
                      <select class="form-control form-control-lg form-select" 
                          asp-for="Sexo">   
                          <option value="" disabled selected>Selecciona una opción</option>
                          <option value="Mujer">Mujer</option>
                          <option value="Hombre">Hombre</option>
                          <option value="Otro">Otro</option>
                      </select> 
                      <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-4">
                      <label
                        asp-for="Correo"
                        class="col-form-label col-form-label-lg"></label>
                      <input
                        asp-for="Correo"
                        placeholder="Coloca tú Correo aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@
                    <div class="mb-4 col-lg-12">
                      <label
                        asp-for="Celular"
                        class="col-form-label col-form-label-lg"></label>
                      <input                        
                        asp-for="Celular"
                        placeholder="Coloca tú Celular aquí"
                        class="form-control form-control-lg"                        
                      />
                      <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    @*------------------------------------------------------------*@                    
                    <div class="text-center col-12"> 
                      <button
                        class="btn-primary btn form-control"
                        type="submit">
                        Registrarse
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
